.table {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ededed;
    margin-top: 50px;
}

.table_row {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #ededed;
}

.table_row:last-child {
    border-bottom: none;
}